@model MasjidManagementSystem.Models.PrayerSchedule

@{
	ViewData["Title"] = "Create-PrayerSchedule";
}
<h1>Crete</h1>

<h4>Imamms</h4>
<hr />

<div class="row">
	<div class="col-md-4">
		<form asp-action="Create">
			<div class="form-group">
				<label asp-for="StartTime" class="control-label"></label>
				<input asp-for="StartTime" class="form-control" />
				<span asp-validation-for="StartTime" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="EndTime" class="control-label"></label>
				<input asp-for="EndTime" class="form-control" />
				<span asp-validation-for="EndTime" class="text-danger"></span>
			</div>
			<!--Single Checkbox-->
			<div>
				<input type="checkbox" asp-for="IsSubscribed" checked="checked" />
				<label asp-for="IsSubscribed">Subscribee to the Newslatter</label>
			</div>

			<!--Radion Button-->
			<div>
				<lable>Gender: </lable><br />
				<input type="radio" asp-for="Gender" value="Male" /> Male <br />
				<input type="radio" asp-for="Gender" value="Female" /> Female <br />

			</div>

			<!--Dropdown List-->
			<div>
				<label asp-for="SelectedCountry"></label>
				<select asp-for="SelectedCountry" class="form-control">
					<option value="">Select a coutry</option>
					<option value="USA">USA</option>
					<option value="UK">UK</option>
					<option value="Bangladesh">Bangladesh</option>
				</select>
			</div>
			<!--Date Input-->
			<div>
				<label asp-for="DateOfBirth"></label>
				<input type="date" asp-for="DateOfBirth" class="form-control" />
			</div>
			<!--Time Input-->
			<div>
				<label asp-for="PreferTime"></label>
				<input type="time" asp-for="PreferTime" class="form-control" />
			</div>
			<!--Number Input-->
			<div>
				<label asp-for="Age"></label>
				<input type="number" asp-for="Age" class="form-control" min="0 " />
			</div>
			<!--Range Input-->
			<div>
				<label asp-for="Level"></label>
				<input type="range" asp-for="Level" class="form-control" min="0" max="100" />
			</div>
			<div class="form-group">
				<input type="submit" value="Create" class="btn btn-primary" />
			</div>
		</form>
	</div>
</div>

<div>
	<a asp-action="Index">Back To List</a>
</div>

