@model IEnumerable<LibraryManagement.Models.Student>

@{
	ViewData["Title"] = "Index";
}

<h1>Student Index</h1>

<table class="table">
	<thead>
		<tr>
			<th>Id</th>
			<th>Name</th>
			<th>Address</th>
			<th>Mobile</th>
		</tr>
	</thead>

	<tbody>
		@foreach(var item in Model){
		<tr>
			<td>@item.ID</td>
			<td>@item.Name</td>
			<td>@item.Address</td>
			<td>@item.Mobile</td>


		</tr>
		}
	</tbody>

</table>