@model MasjidManagementSystem.Models.Donation

@{
	ViewData["DonarName"] = "UpAmount-Donation";
}

<h1>Update</h1>

<h4>Donation</h4>
<hr />

<div class="row">
	<div class="col-md-4">
		<form asp-action="Update">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<input type="hidden" asp-for="Id" />
			<div class="form-group">
				<label asp-for="DonarName" class="control-label"></label>
				<input asp-for="DonarName" class="form-control" />
			</div>
			<div class="form-group">
				<label asp-for="Amount" class="control-label"></label>
				<input asp-for="Amount" class="form-control" />
			</div>
			<div class="form-group">
				<label asp-for="DonationDate" class="control-label"></label>
				<input asp-for="DonationDate" class="form-control" />
			</div>
			<div class="form-group">
				<input type="submit" value="Save" class="btn btn-primary" />
			</div>

		</form>
	</div>
	<a asp-action="Index">Go to previous</a>
</div>
