@model IEnumerable<LibraryManagement.Models.Loan>

@{
	ViewData["Title"] = "Index";
}

<h1>Loan Index</h1>

<table class="table">

	<thead>
		<tr>
			<th>BookID</th>
			<th>MemberID</th>
			<th>DueDate</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>@item.BookID</td>
				<td>@item.MemberID</td>
				<td>@item.DueDate</td>

			</tr>
		}
	</tbody>

</table>